doctype html
html
  head
    meta(charset='utf-8')
    meta(content='IE=edge', http-equiv='X-UA-Compatible')
    meta(content='width=device-width, initial-scale=1', name='viewport')
    title= 'Sellisting | ' + title
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src="/javascripts/dashboard.js")
    <!--[if lt IE 9 ]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    script(src='/js/bootstrap.min.js')
    script(src='/js/bootstrap.min.js')
    <![endif]-->
  body
    .container-fluid
      .header
      block body
        .navbar navbar-fixed-top
          .navbar-inner
            .container
			  ul.nav
				li.active
				  a.brand(href='#') w3resource
				li
				  a(href='#') About
				li
				  a(href='#') Portfolio
				li
				  a(href='#') Contact
